{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}
<style>
	.jumbotron {
		text-align: center;
	}

	.card {
	  float: center;
	  width: 25%;
	  padding: .75rem;
	  margin-bottom: 2rem;
	  border: 0;
	}
	}
</style>
{% endblock %}

{% block content %}
<a href="#"> <img src="{% static 'img/home_page_sales.jpg' %}" class='img-responsive'> </a>

<div class="album text-muted">
	<div class="container">

		<div class="row">
			<div class="card">
				<img class="center-block" src="{% static 'img/book1.jpg' %}" alt="Photo not available">
				<p class="card-text">Title: </p>
				<p class="card-text">Genre: </p>
				<p class="card-text">Price: </p>
				<p class="card-text">Condition: </p>
			</div>
			<div class="card">
				<img class="center-block" src="{% static 'img/book1.jpg' %}" alt="Photo not available">
				<p class="card-text">Title: </p>
				<p class="card-text">Genre: </p>
				<p class="card-text">Price: </p>
				<p class="card-text">Condition: </p>
			</div>
			<div class="card">
				<img class="center-block" src="{% static 'img/book1.jpg' %}" alt="Photo not available">
				<p class="card-text">Title: </p>
				<p class="card-text">Genre: </p>
				<p class="card-text">Price: </p>
				<p class="card-text">Condition: </p>
			</div>
			<div class="card">
				<img class="center-block" src="{% static 'img/book1.jpg' %}" alt="Photo not available">
				<p class="card-text">Title: </p>
				<p class="card-text">Genre: </p>
				<p class="card-text">Price: </p>
				<p class="card-text">Condition: </p>
			</div>
		</div>

		<div class="row">
			<div class="card">
				<img class="center-block" src="{% static 'img/book1.jpg' %}" alt="Photo not available">
				<p class="card-text">Title: </p>
				<p class="card-text">Genre: </p>
				<p class="card-text">Price: </p>
				<p class="card-text">Condition: </p>
			</div>
			<div class="card">
				<img class="center-block" src="{% static 'img/book1.jpg' %}" alt="Photo not available">
				<p class="card-text">Title: </p>
				<p class="card-text">Genre: </p>
				<p class="card-text">Price: </p>
				<p class="card-text">Condition: </p>
			</div>
			<div class="card">
				<img class="center-block" src="{% static 'img/book1.jpg' %}" alt="Photo not available">
				<p class="card-text">Title: </p>
				<p class="card-text">Genre: </p>
				<p class="card-text">Price: </p>
				<p class="card-text">Condition: </p>
			</div>
			<div class="card">
				<img class="center-block" src="{% static 'img/book1.jpg' %}" alt="Photo not available">
				<p class="card-text">Title: </p>
				<p class="card-text">Genre: </p>
				<p class="card-text">Price: </p>
				<p class="card-text">Condition: </p>
			</div>
		</div>

		<div class="row">
			<div class="card">
				<img class="center-block" src="{% static 'img/book1.jpg' %}" alt="Photo not available">
				<p class="card-text">Title: </p>
				<p class="card-text">Genre: </p>
				<p class="card-text">Price: </p>
				<p class="card-text">Condition: </p>
			</div>
			<div class="card">
				<img class="center-block" src="{% static 'img/book1.jpg' %}" alt="Photo not available">
				<p class="card-text">Title: </p>
				<p class="card-text">Genre: </p>
				<p class="card-text">Price: </p>
				<p class="card-text">Condition: </p>
			</div>
			<div class="card">
				<img class="center-block" src="{% static 'img/book1.jpg' %}" alt="Photo not available">
				<p class="card-text">Title: </p>
				<p class="card-text">Genre: </p>
				<p class="card-text">Price: </p>
				<p class="card-text">Condition: </p>
			</div>
			<div class="card">
				<img class="center-block" src="{% static 'img/book1.jpg' %}" alt="Photo not available">
				<p class="card-text">Title: </p>
				<p class="card-text">Genre: </p>
				<p class="card-text">Price: </p>
				<p class="card-text">Condition: </p>
			</div>
		</div>

		<div class="row">
			<div class="card">
				<img class="center-block" src="{% static 'img/book1.jpg' %}" alt="Photo not available">
				<p class="card-text">Title: </p>
				<p class="card-text">Genre: </p>
				<p class="card-text">Price: </p>
				<p class="card-text">Condition: </p>
			</div>
			<div class="card">
				<img class="center-block" src="{% static 'img/book1.jpg' %}" alt="Photo not available">
				<p class="card-text">Title: </p>
				<p class="card-text">Genre: </p>
				<p class="card-text">Price: </p>
				<p class="card-text">Condition: </p>
			</div>
			<div class="card">
				<img class="center-block" src="{% static 'img/book1.jpg' %}" alt="Photo not available">
				<p class="card-text">Title: </p>
				<p class="card-text">Genre: </p>
				<p class="card-text">Price: </p>
				<p class="card-text">Condition: </p>
			</div>
			<div class="card">
				<img class="center-block" src="{% static 'img/book1.jpg' %}" alt="Photo not available">
				<p class="card-text">Title: </p>
				<p class="card-text">Genre: </p>
				<p class="card-text">Price: </p>
				<p class="card-text">Condition: </p>
			</div>
		</div>


	</div>

	</div>
</div>

</div>{% endblock %}
